*{
    padding: 0px;
    margin:0px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
}

 /* .main-container{
    max-width: 1440px;
    margin:0px  auto;
 }  */

 .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    text-align: center;
    background: #fff;
    color: black;
    font-size: 14px;
    max-width: 1200px;
    margin:0px  auto;
    height: 100px; 
 }

 .header_list ul li{
    list-style-type: none;
        display: inline-block;
        margin-left: 0px;
        padding: 20px; 
              
 }

 .header_list ul li p{

   margin-top: 5px;
   }

 .header_list ul li:hover{
    list-style-type: none;
        display: inline-block;
        margin-left: 0px;
        cursor: pointer;
        background-color: #eee;
        border-radius: 15px;
        padding: 20px;
 }



 .header_right ul li{
    list-style-type: none;
        display: inline-block;
        margin-left: 35px;   
        cursor: pointer;   
        font-size: larger;
        font-weight: 200;
 }


 .hero-section{
    background: url(./assets/HeroImage.png);
    background-repeat: round;
    background-size:cover;
    width: 100%;
    height:32.5rem;
    position: relative;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;

 }

 .hero-section h1{
   color: white; 
   font-size: 32px;
   font-weight: bolder;
   margin: 45px 0px;
}

.booking-section{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   position: relative;
   border-radius: 32px;
   cursor: pointer;
   background: rgb(255, 255, 255);
   height: 112px;
   width: 993px;
   color: #4a4a4a;
}
.booking-blocks{
   display: flex;
   flex-direction: row;
   justify-content: start;
   align-items: center;
   border-right: 1px solid #ccc;;
   width: 270px;
   height: 112px;
   border-radius: 0px;
   font-size: 14px;
   font-weight: 200;
}

.booking-blocks-search{
   width: 245px;
   padding: 44px;
   gap: 12px;
   background: rgb(216, 78, 85);
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
   color: rgb(255, 255, 255);
   cursor: pointer;
   border: none;
   border-radius: 0px 32px 32px 0px;
   display: flex;
   justify-content: center;
   align-items: center;
}

#fromto{
   background-color: #fff;
  padding: 15px;
  border: 0.5px solid #eee;
  border-radius: 100%;
  margin-left: -25px;
  border: 0.5px solid #ccc;
   box-shadow: 0px 0px 0px #ccc;
}

#fromto:hover{
   border: 0.5px solid #ccc;
   box-shadow: 2px 10px 10px #ccc;

}

.offerWrapper{
   display: flex;
   justify-content: center;
   position: absolute;
   margin-top: -151px;
   left: 0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
   height: 18.75rem;
}


.trending-offers{
   width: 1200px;
    padding: 2rem;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 25px;
    border-radius: 32px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
 
}

.trending-offers h1{
 font-weight: 100;
}

.trending-heading{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.trending-heading button{
   background-color: #fff;
 color: rgb(16, 52, 217);
 font-weight: 600;
 border-radius: 1.5rem;
 border: 1px solid rgb(170, 170, 170);
 padding: 10px 24px;
 font-size: 18px;
}

.offercard-container{
   display: flex;
   /* overflow: scroll hidden; */
   gap: 1.5rem;
   scroll-behavior: smooth;
}


.offer-card{
   display: flex;
    width: 20.3rem;
    border-radius: 1rem;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(71.04deg, rgb(12, 57, 139) -6.92%, rgb(62, 118, 216) 109.43%);
    padding: 1rem;
    gap: 1rem;
    cursor: pointer;
    align-items: center;
}



.offer-card img{
   width: 4.5rem;
   border-radius: 50%;
}

.offer-card span{
   background: rgba(255, 255, 255, 0.2);
    border-radius: 1.25rem;
    padding: 0.25rem 0.5rem;
    width: fit-content;
    font-size: 12px;
    text-align: center;
}

.offer-card h4{
   margin-top: 10px;
   font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    max-height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.offer-card p{
   margin-top: 10px;
   font-size: 12px;
    line-height: 1rem;
    font-weight: 400;
}

.coupon-code{
   margin-top: 10px;
   display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 0.75rem;
}

.offer-card h6{
   border: 1px dashed rgb(255, 255, 255);
    border-radius: 0.25rem;
    max-width: 140px;
    background: rgba(255, 255, 255, 0.2);
    padding: 0.25rem 0.5rem;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* REFER BANNER*/
.refer-banner{
   margin: 200px 0px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}


/*  Global Presence */

.section_seven {
   width: 1200px;
   height: 400px;
   display: block;
   margin-left: auto;
   margin-right: auto;
  
 }
 .section_seven > .global_presence_heading {
   font-size: 40px;
   font-weight: 500;
 }
 
 .global_presence {
   cursor: pointer;
   display: flex;
   gap: 20px;
   justify-content: space-between;
   margin-top: 50px;
   align-content: center;
   flex-wrap: wrap;
 }
 .global_presence > div > p {
   text-align: center;
   line-height: 50px;
   font-weight: bold;
   font-size: large;
 }
 
 .global_presence > div:hover > p {
   border-radius: 56px;
   background-color: rgb(240, 240, 240);
 }

/* footer */
.footer {
   width: 100%;
   background-color: #f7f7f7;
   display: flex;
   justify-content: center;
 }
 
 .footer_container {
   margin: 40px 0 40px 0;
   width: 1200px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   gap: 30px;
 }
 
 .footer_container .list,
 .second_list > .list {
   display: flex;
   gap: 40px;
   justify-content: space-between;
 }
 
 .list > ul > li {
   list-style: none;
   line-height: 30px;
   cursor: pointer;
   color: #3e3e52;
   font-weight: 300;
 }
 
 .list > ul > .list_heading {
   font-weight: 700;
   cursor: auto;
 }
 
 .footer_container > hr {
   border: 1px solid #e5e5e5;
   border-radius: 5px;
 }
 
 .second_list {
   display: flex;
 }
 .second_list > .list .about > li {
   width: 300px;
   color: #3e3e52;
   font-weight: 300;
   margin-right: 20px;
 }
 .list .about > li > img {
   margin-bottom: 10px;
 }
 
 .footer_container > .links {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 
 .links > .social > img {
   margin-right: 20px;
 }
 
 .section_eight {
   width: 1200px;
   margin: 60px 0;
 }
 
 .scroll_top {
   float: right;
   border: 1px solid;
   border-radius: 10px;
   width: 40px;
   display: flex;
   justify-content: center;
   padding: 10px 0;
 }